body {
  background-image: url(images-master/bg.png);
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #cccccc ;
  display: flex;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

ul li a:hover {
  background-color: #777777;
}

.wjaname {
  font-size:42px;
}
/* headers */
h1 {
  color: black;
  text-align: left;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
h2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
h3 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

p {
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


/* footer */
.lowerfooter {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #aaaaaa;
  display: flex;
  position: sticky;
  top: 0;
}

.lowerfooter li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.lowerfooter li a:hover {
  background-color: #777777;
}

